.form-fieldset-item.hidden-tab {
    display: none;
}

.form-fieldset-tab {
    position: relative;

    --invalid-bg: rgba(184, 38, 38, 1);
    --invalid-border: rgba(184, 38, 38, 0.6);
    --invalid-color: #ececec;
    --invalid-box-size: 15px;
    --invalid-box-pull: -3px;
}

.form-fieldset-tab.invalid {

    > btn .async-target {
        border: 1px solid var(--invalid-border);
    }

    &:after {
        background: var(--invalid-bg);
        color: var(--invalid-color);
        font-size: 10px;
        line-height: var(--invalid-box-size);
        width: var(--invalid-box-size);
        height: var(--invalid-box-size);
        text-align: center;
        border-radius: 5px;
        content: "!";
        display: block;
        position: absolute;
        top: var(--invalid-box-pull);
        right: var(--invalid-box-pull);
    }
}
