@if (field.display) {
    @if (props.label && props.hideLabel !== true) {
        <label class="field-label">
            {{ props.label | translate }}
            <p class="field-description" *ngIf="props.description">{{ props.description | translate }}</p>
        </label>
    }
    <tabs class="field-container">
        @for (itemField of field.fieldGroup; track itemField; let ix = $index) {
            @if (itemField.display) {
                @if (props.useTabs && itemField.wrappers | includes: 'form-fieldset') {
                    <div class="form-fieldset-item"
                         [tabsItem]="ix"
                         [classes]="['form-fieldset-tab', itemField.valid ? 'valid' : 'invalid']"
                         [label]="itemField.props.label">
                        <formly-field [field]="itemField"></formly-field>
                    </div>
                } @else {
                    <formly-field [field]="itemField"></formly-field>
                }
            }
        }
    </tabs>
}
