<label class="field-label" *ngIf="props.label">
    {{ props.label | translate }}
    <p class="field-description" *ngIf="props.description">{{ props.description | translate }}</p>
</label>
<div class="field-container">
    @if (props.useTabs) {
        <tabs class="form-array-items" [(value)]="currentTab">
            @for (field of field.fieldGroup; track field.key; let ix = $index) {
                <div class="form-array-item"
                     [tabsItem]="ix"
                     [label]="(field.formControl.value | getValue : props.tabsLabel) || ix + 1">
                    <div class="form-array-buttons">
                        @if (props.removeItem) {
                            <btn icon="trash" (click)="removeItem(ix)"></btn>
                        }
                        @if (props.insertItem) {
                            <btn icon="plus" (click)="addItem(ix)"></btn>
                        }
                    </div>
                    <formly-field [field]="field"></formly-field>
                </div>
            }
        </tabs>
    } @else {
        @for (field of field.fieldGroup; track field; let ix = $index) {
            <div class="form-array-item">
                <div class="form-array-buttons">
                    @if (props.removeItem) {
                        <btn icon="trash" (click)="removeItem(ix)"></btn>
                    }
                    @if (props.insertItem) {
                        <btn icon="plus" (click)="addItem(ix)"></btn>
                    }
                </div>
                <formly-field [field]="field"></formly-field>
            </div>
        }
    }

    <div class="form-array-buttons">
        @if (props.clearItems) {
            <btn icon="trash" label="button.clear-items" (click)="clearItems()"></btn>
        }
        @if (props.addItem) {
            <btn icon="plus" label="button.insert-item" (click)="addItem()"></btn>
        }
    </div>
</div>
