<ng-container [ngSwitch]="data.type">
    <ng-container *ngSwitchCase="'textarea'">
        <textarea class="form-control"
                  rows="5"
                  [attr.autocomplete]="data.autocomplete"
                  [id]="form.id + '-' + control.id"
                  [name]="form.id + '-' + control.id"
                  [ngClass]="{disabled: form.readonly || handler.isReadOnly}"
                  [disabled]="form.readonly || handler.isReadOnly"
                  [ngModel]="value"
                  (ngModelChange)="handler.onValueChange($event)"
                  (blur)="handler.onBlur()"
                  (focus)="handler.onFocus()">{{ data.placeholder | translate }}</textarea>
    </ng-container>
    <ng-container *ngSwitchCase="'date'">
        <input class="form-control"
               type="date"
               [attr.autocomplete]="data.autocomplete"
               [id]="form.id + '-' + control.id"
               [name]="form.id + '-' + control.id"
               [ngClass]="{disabled: form.readonly || handler.isReadOnly}"
               [disabled]="form.readonly || handler.isReadOnly"
               [ngModel]="value | date: 'y-MM-dd'"
               (ngModelChange)="onDateChange($event)"
               (blur)="handler.onBlur()"
               (focus)="handler.onFocus()"/>
    </ng-container>
    <ng-container *ngSwitchCase="'number'">
        <input class="form-control"
               type="number"
               [attr.autocomplete]="data.autocomplete"
               [min]="data.min"
               [max]="data.max"
               [step]="data.step"
               [id]="form.id + '-' + control.id"
               [name]="form.id + '-' + control.id"
               [ngClass]="{disabled: form.readonly || handler.isReadOnly}"
               [disabled]="form.readonly || handler.isReadOnly"
               [ngModel]="value"
               (ngModelChange)="handler.onValueChange($event)"
               (blur)="onNumberBlur()"
               (focus)="handler.onFocus()"/>
    </ng-container>
    <ng-container *ngSwitchCase="'mask'">
        <input class="form-control"
               type="text"
               [id]="form.id + '-' + control.id"
               [name]="form.id + '-' + control.id"
               [ngClass]="{disabled: form.readonly || handler.isReadOnly}"
               [disabled]="form.readonly || handler.isReadOnly"
               [textMask]="{mask: data.mask, showMask: true, placeholderChar: data.placeholder}"
               [ngModel]="value"
               (ngModelChange)="onInputChange($event)"
               (blur)="handler.onBlur()"
               (focus)="handler.onFocus()"/>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <input class="form-control"
               [attr.autocomplete]="data.autocomplete"
               [minlength]="data.min"
               [maxlength]="data.max"
               [placeholder]="data.placeholder | translate"
               [type]="data.type"
               [id]="form.id + '-' + control.id"
               [name]="form.id + '-' + control.id"
               [ngClass]="{disabled: form.readonly || handler.isReadOnly}"
               [disabled]="form.readonly || handler.isReadOnly"
               [ngModel]="value"
               (ngModelChange)="handler.onValueChange($event)"
               (blur)="handler.onBlur()"
               (focus)="handler.onFocus()"/>
    </ng-container>
</ng-container>
