<ng-template #configTemplate let-formTemplate="formTemplate" let-form="form" let-config="config" let-configTemplate>
    <div [ngClass]="config.classes || ''">
        <ng-container [ngTemplateOutlet]="formPrefixTemplates[config.id]"
                      [ngTemplateOutletContext]="{config: config, form: form}"></ng-container>
        <ng-template #singleFormTemplate>
            <div dynamic-form
                 [ngClass]="config.formClasses || ''"
                 [name]="config.name || form.name"
                 [readonly]="form.readonly"
                 [updateOn]="form.updateOn"
                 [classes]="config.innerFormClasses"
                 [parent]="form"

                 [wrapperTemplate]="form.wrapperTemplate"
                 [fieldSetTemplate]="form.fieldSetTemplate"
                 [controlTemplates]="form.controlTemplates"

                 [controlTemplate]="form.controlTemplate"
                 [labelTemplates]="form.labelTemplates"
                 [inputTemplates]="form.inputTemplates"
                 [prefixTemplates]="form.prefixTemplates"
                 [suffixTemplates]="form.suffixTemplates"

                 [group]="config.group"
                 [fieldSets]="config.fieldSets">
                <ng-template #prefixTemplate let-subForm="form">
                    <ng-container [ngTemplateOutlet]="form.innerFormPrefixTemplates[config.id]"
                                  [ngTemplateOutletContext]="{config: config, form: subForm}"></ng-container>
                </ng-template>
                <ng-template #suffixTemplate let-subForm="form">
                    <ng-container [ngTemplateOutlet]="form.innerFormSuffixTemplates[config.id]"
                                  [ngTemplateOutletContext]="{config: config, form: subForm}"></ng-container>
                </ng-template>
            </div>
        </ng-template>
        <div dynamic-forms
             [ngClass]="config.formClasses || ''"
             [name]="config.name || name"
             [readonly]="form.readonly"
             [updateOn]="form.updateOn"
             [classes]="config.innerFormClasses"
             [parent]="form"

             [wrapperTemplate]="form.wrapperTemplate"
             [fieldSetTemplate]="form.fieldSetTemplate"
             [controlTemplates]="form.controlTemplates"

             [controlTemplate]="form.controlTemplate"
             [labelTemplates]="form.labelTemplates"
             [inputTemplates]="form.inputTemplates"
             [prefixTemplates]="form.prefixTemplates"
             [suffixTemplates]="form.suffixTemplates"

             [data]="config.data"
             [containerTemplate]="form.containerTemplate"
             [formPrefixTemplates]="form.formPrefixTemplates"
             [formSuffixTemplates]="form.formSuffixTemplates"
             [innerFormPrefixTemplates]="form.innerFormPrefixTemplates"
             [innerFormSuffixTemplates]="form.innerFormSuffixTemplates"

             *ngIf="config.multi; else singleFormTemplate">
            <ng-template #prefixTemplate let-subForm="form">
                <ng-container [ngTemplateOutlet]="form.innerFormPrefixTemplates[config.id]"
                              [ngTemplateOutletContext]="{config: config, form: subForm}"></ng-container>
            </ng-template>
            <ng-template #suffixTemplate let-subForm="form">
                <ng-container [ngTemplateOutlet]="form.innerFormSuffixTemplates[config.id]"
                              [ngTemplateOutletContext]="{config: config, form: subForm}"></ng-container>
            </ng-template>
        </div>
        <ng-container [ngTemplateOutlet]="formSuffixTemplates[config.id]"
                      [ngTemplateOutletContext]="{config: config, form: form}"></ng-container>
    </div>
</ng-template>
<ng-template let-form="form" let-configTemplate="configTemplate" #defaultContainerTemplate>
    <div class="dynamic-forms" [ngClass]="classes || ''">
        <ng-container *ngFor="let config of form.configs"
                      [ngTemplateOutlet]="configTemplate"
                      [ngTemplateOutletContext]="{form: form, config: config}"></ng-container>
        <ng-content></ng-content>
    </div>
</ng-template>
<ng-container [ngTemplateOutlet]="prefixTemplate"
              [ngTemplateOutletContext]="{form: this}"></ng-container>
<ng-container [ngTemplateOutlet]="containerTemplate || defaultContainerTemplate"
              [ngTemplateOutletContext]="{form: this, configTemplate: configTemplate, defaultContainerTemplate: defaultContainerTemplate}">
</ng-container>
<ng-container [ngTemplateOutlet]="suffixTemplate"
              [ngTemplateOutletContext]="{form: this}"></ng-container>
