<ng-container [ngTemplateOutlet]="prefixTemplate"
              [ngTemplateOutletContext]="{form: this}"></ng-container>
<div class="dynamic-forms" [ngClass]="classes || ''">
    <div *ngFor="let config of data" [ngClass]="config.classes || ''">
        <ng-container [ngTemplateOutlet]="formPrefixTemplates[config.id]"
                      [ngTemplateOutletContext]="{config: config, form: this}"></ng-container>
        <ng-template #singleFormTemplate>
            <div dynamic-form
                 [ngClass]="config.formClasses || ''"
                 [name]="config.name || name"
                 [readonly]="readonly"
                 [validateOn]="validateOn"
                 [classes]="config.innerFormClasses"
                 [parent]="this"

                 [wrapperTemplate]="wrapperTemplate"
                 [fieldSetTemplate]="fieldSetTemplate"
                 [controlTemplates]="controlTemplates"

                 [controlTemplate]="controlTemplate"
                 [labelTemplates]="labelTemplates"
                 [inputTemplates]="inputTemplates"
                 [prefixTemplates]="prefixTemplates"
                 [suffixTemplates]="suffixTemplates"

                 [data]="config.data"
                 [controls]="config.controls"
                 [fieldSets]="config.fieldSets">
                <ng-template #prefixTemplate let-form="form">
                    <ng-container [ngTemplateOutlet]="innerFormPrefixTemplates[config.id]"
                                  [ngTemplateOutletContext]="{config: config, form: form}"></ng-container>
                </ng-template>
                <ng-template #suffixTemplate let-form="form">
                    <ng-container [ngTemplateOutlet]="innerFormSuffixTemplates[config.id]"
                                  [ngTemplateOutletContext]="{config: config, form: form}"></ng-container>
                </ng-template>
            </div>
        </ng-template>
        <div dynamic-forms
             [ngClass]="config.formClasses || ''"
             [name]="config.name || name"
             [readonly]="readonly"
             [validateOn]="validateOn"
             [classes]="config.innerFormClasses"
             [parent]="this"

             [wrapperTemplate]="wrapperTemplate"
             [fieldSetTemplate]="fieldSetTemplate"
             [controlTemplates]="controlTemplates"

             [controlTemplate]="controlTemplate"
             [labelTemplates]="labelTemplates"
             [inputTemplates]="inputTemplates"
             [prefixTemplates]="prefixTemplates"
             [suffixTemplates]="suffixTemplates"

             [data]="config.data"
             [formPrefixTemplates]="formPrefixTemplates"
             [formSuffixTemplates]="formSuffixTemplates"
             [innerFormPrefixTemplates]="innerFormPrefixTemplates"
             [innerFormSuffixTemplates]="innerFormSuffixTemplates"

             *ngIf="config.multi; else singleFormTemplate">
            <ng-template #prefixTemplate let-form="form">
                <ng-container [ngTemplateOutlet]="innerFormPrefixTemplates[config.id]"
                              [ngTemplateOutletContext]="{config: config, form: form}"></ng-container>
            </ng-template>
            <ng-template #suffixTemplate let-form="form">
                <ng-container [ngTemplateOutlet]="innerFormSuffixTemplates[config.id]"
                              [ngTemplateOutletContext]="{config: config, form: form}"></ng-container>
            </ng-template>
        </div>
        <ng-container [ngTemplateOutlet]="formSuffixTemplates[config.id]"
                      [ngTemplateOutletContext]="{config: config, form: this}"></ng-container>
    </div>
    <ng-content></ng-content>
</div>
<ng-container [ngTemplateOutlet]="suffixTemplate"
              [ngTemplateOutletContext]="{form: this}"></ng-container>
