.form-password-group {
    position: relative;

    btn {
        display: block;
        position: absolute;
        aspect-ratio: 1;
        top: 0;
        bottom: 0;
        right: 0;
    }
}

.mat-mdc-form-field .form-password-group {
    .form-control {
        background-color: transparent;
        box-shadow: none;
        outline: none;
        border: none;
        padding: 0;
        height: 24px;
    }
    .mat-mdc-button {
        translate: 10px -15px;
    }
}
