<ng-template #labelTemplate let-control="control.data">
    <label class="control-label control-label-left" [attr.for]="id">
        {{ control.label !== ' ' ? (prefix + control.label | translate) : '' }}
    </label>
</ng-template>
<ng-template #inputTemplate let-form="form" let-control="control">
    <ng-container [control]="control" [form]="form"></ng-container>
</ng-template>
<ng-template #controlTemplate let-context="context" let-id="context.control.id" let-control="context.control.data">
    <div [ngClass]="['form-group', 'form-group-' + id, control.classes]">
        <ng-container *ngIf="control.labelAlign == 'left'"
                      [ngTemplateOutlet]="labelTemplate"
                      [ngTemplateOutletContext]="context">
        </ng-container>
        <ng-container [ngTemplateOutlet]="inputTemplate"
                      [ngTemplateOutletContext]="context">
        </ng-container>
    </div>
</ng-template>
<ng-template #fieldSetTemplate let-id="id" let-controls="controls" let-fieldSet="fieldSet">
    <div [ngClass]="['form-fields', 'form-fields-' + id, fieldSet.classes]">
        <div class="form-title" *ngIf="fieldSet.title">{{ prefix + fieldSet.title | translate }}</div>
        <ng-container *ngFor="let control of controls"
                      [ngTemplateOutlet]="controlTemplate"
                      [ngTemplateOutletContext]="{context: {form: this, control: control}}">
        </ng-container>
    </div>
</ng-template>

<div class="dynamic-form">
    <form>
        <ng-container *ngFor="let fs of formControls | groupBy:'data.fieldSet'"
                      [ngTemplateOutlet]="fieldSetTemplate"
                      [ngTemplateOutletContext]="{id: fs.group, controls: fs.items, fieldSet: formFieldSets[fs.group] || defaultFieldSet}">
        </ng-container>
    </form>
</div>
