<ng-template #fieldSetTemplate let-id="id" let-controls="controls" let-fieldSet="fieldSet">
    <div [ngClass]="['form-fields', 'form-fields-' + id, fieldSet.classes]">
        <div class="form-title" *ngIf="fieldSet.title">{{ prefix + fieldSet.title | translate }}</div>
        <div *ngFor="let control of controls"
             [ngClass]="['form-group', 'form-group-' + control.id, control.data.classes]"
             [dynamic-form-control]="control"
             [form]="this">
        </div>
    </div>
</ng-template>
<form class="dynamic-form">
    <ng-container *ngFor="let fs of formControls | groupBy:'data.fieldSet'"
                  [ngTemplateOutlet]="fieldSetTemplate"
                  [ngTemplateOutletContext]="{id: fs.group, controls: fs.items, fieldSet: formFieldSets[fs.group] || defaultFieldSet}">
    </ng-container>
</form>
