.upload {
    display: inline-block;
    ul {
        display: inline-flex;
        list-style: none;
        margin: 10px 0 0 0;
        padding: 0;

        li {
            height: 100px;
            width: 100px;
            background: repeating-linear-gradient(
                    45deg,
                    gray,
                    gray 10px,
                    lightgray 10px,
                    lightgray 20px
            ) center center;
            background-size: cover;
            border: 1px gray solid;
            margin-right: 5px;
            position: relative;
        }
    }

    .btn-delete {
        background: linear-gradient(to bottom, #c8607a, #a64d5a);
        border-color: #a64d5a;
        color: #fff;
        position: absolute;
        padding: 0;
        right: 5px;
        top: 5px;
        width: 20px;
        height: 20px;
    }

    .btn-delete:before {
        color: #fff;
        display: block;
        position: absolute;
        top: 0;
        right: 6px;
        content: 'x';
    }

}
