<ng-template #selectTemplate let-selected="selected">
    <select class="form-control"
            [attr.data-testid]="testId"
            [multiple]="data.multi"
            [id]="control.formId"
            [name]="control.formId"
            [ngClass]="{disabled: control.disabled}"
            [disabled]="control.disabled"
            [ngModel]="data.multi ? value : [value]"
            (ngModelChange)="onSelectChange($event)"
            (blur)="control.onBlur()"
            (focus)="control.onFocus()">
        <option *ngFor="let option of meta.options" [value]="option.id" [disabled]="option.selectable == false">
            {{ option.label | translate }}
        </option>
    </select>
    <label class="form-control-description" [attr.for]="control.formId" *ngIf="!data.multi && selected?.description">
        {{ selected?.description | translate }}
    </label>
</ng-template>
<ng-container [ngSwitch]="data.type">
    <ng-container *ngSwitchCase="'radio'">
        <ul class="radio-group">
            <li *ngFor="let option of meta.options" class="radio">
                <label [ngClass]="{checked: value == option.id}">
                    <input type="radio"
                           [attr.data-testid]="testId + '-' + option.id"
                           [id]="control.formId + '-' + option.id"
                           [name]="control.formId + '-' + option.id"
                           [ngClass]="{disabled: control.disabled}"
                           [disabled]="control.disabled || option.selectable == false"
                           [value]="option.id"
                           [ngModel]="value"
                           (ngModelChange)="onSelectChange(option.id)"
                           (blur)="control.onBlur()"
                           (focus)="control.onFocus()">
                    {{ option.label | translate }}
                </label>
            </li>
        </ul>
    </ng-container>
    <ng-container *ngSwitchCase="'checkbox'">
        <ul class="checkbox-group">
            <li *ngFor="let option of meta.options" class="checkbox">
                <label [ngClass]="{checked: checkValue(option)}">
                    <input type="checkbox"
                           [attr.data-testid]="testId + '-' + option.id"
                           [id]="control.formId + '-' + option.id"
                           [name]="control.formId + '-' + option.id"
                           [ngClass]="{disabled: control.disabled}"
                           [disabled]="control.disabled || option.selectable == false"
                           [ngModel]="checkValue(option)"
                           (ngModelChange)="onSelectChange(option.id)"
                           (blur)="control.onBlur()"
                           (focus)="control.onFocus()">
                    {{ option.label | translate }}
                </label>
            </li>
        </ul>
    </ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="selectTemplate" [ngTemplateOutletContext]="{selected: meta?.options | find:findOption:value}">

    </ng-container>
</ng-container>
