@if (props.label && props.hideLabel !== true) {
    <label class="field-label" [for]="id">
        {{ props.label | translate }}
        <p class="field-description" *ngIf="props.description">{{ props.description | translate }}</p>
        @if (props.markRequired) {
            <span class="field-required" aria-hidden="true">*</span>
        }
    </label>
}
<div class="field-container">
    <ng-container #fieldComponent></ng-container>
    <div *ngIf="showError" class="field-errors invalid-feedback">
        <formly-validation-message
            [field]="field"
            id="{{ id }}-formly-validation-error"
            role="alert"
        ></formly-validation-message>
    </div>
</div>
