<ng-template #innerLabelTemplate let-label="label">
    <label class="field-label" [for]="id">
        <span [innerHTML]="label | safe: 'html'"></span>
        <p class="field-description" *ngIf="props.description">{{ props.description | translate }}</p>
        @if (props.markRequired) {
            <span class="field-required" aria-hidden="true">*</span>
        }
    </label>
</ng-template>
<ng-template #labelTemplate>
    @let label = !props.label || props.hideLabel ? null : props.label | translate;
    @if (label) {
        <ng-container [ngxTemplateOutlet]="(field | dynamicFormTemplate : 'label') || innerLabelTemplate"
                      [context]="field"
                      [additionalContext]="{label: label}"></ng-container>
    }
</ng-template>
<ng-template #inputTemplate>
    <ng-container #fieldComponent></ng-container>
</ng-template>
<ng-template #controlTemplate>
    <ng-container [ngTemplateOutlet]="field | dynamicFormTemplate : 'prefix'"
                  [ngTemplateOutletContext]="field"></ng-container>
    @if (props.labelAlign === "before") {
        <ng-container [ngTemplateOutlet]="labelTemplate"></ng-container>
    }
    <div class="field-container">
        <ng-container [ngTemplateOutlet]="(field | dynamicFormTemplate : 'input') || inputTemplate"
                      [ngTemplateOutletContext]="field"></ng-container>
        <div *ngIf="showError" class="field-errors invalid-feedback">
            <formly-validation-message
                [field]="field"
                [id]="id + '-formly-validation-error'"
                role="alert"
            ></formly-validation-message>
        </div>
    </div>
    @if (props.labelAlign === "after") {
        <ng-container [ngTemplateOutlet]="labelTemplate"></ng-container>
    }
    <ng-container [ngTemplateOutlet]="field | dynamicFormTemplate : 'suffix'"
                  [ngTemplateOutletContext]="field"></ng-container>
</ng-template>
<ng-container [ngTemplateOutlet]="(field | dynamicFormTemplate : 'control') || controlTemplate"
              [ngTemplateOutletContext]="field"></ng-container>
