<ng-template #labelIcon let-icon="icon">
    <i [icon]="icon" *ngIf="icon"></i>
</ng-template>

<div [formGroup]="group" [ngClass]="['ngx-dynamic-form-'+ model.type.toLowerCase(), getClass('element', 'container'), getClass('grid', 'container')]">

    <label [ngClass]="['control-label', getClass('element', 'label'), getClass('grid', 'label')]" [for]="id"
           (click)="clickLabel()" *ngIf="hasLabel">
        <span [innerHTML]="getLabel() | translate"></span>
        <ng-container [ngTemplateOutlet]="labelIcon" [ngTemplateOutletContext]="{icon: getLabelIcon()}"></ng-container>
    </label>

    <ng-container [ngxTemplateOutlet]="startTemplate?.templateRef"
                  [context]="model"
                  [additionalContext]="{array: group?.get(model.id), model: model}"></ng-container>

    <ng-container #componentViewContainer></ng-container>

    <div *ngIf="hasHint" [ngClass]="[getClass('element', 'hint'), getClass('grid', 'hint')]">
        <span [innerHTML]="hint"></span>
    </div>

    <ul *ngIf="showErrorMessages" [ngClass]="[getClass('element', 'errors'), getClass('grid', 'errors')]">
        <li *ngFor="let message of errorMessages">
            {{ message | translate: {group: group, model: model, label: getLabel() | translate} }}
        </li>
    </ul>

    <ng-container [ngxTemplateOutlet]="endTemplate?.templateRef"
                  [context]="model"
                  [additionalContext]="{array: group?.get(model.id), model: model}"></ng-container>

    <ng-content></ng-content>

</div>
