@import "bootstrap/scss/bootstrap.scss";

body {
    font-family: Roboto, sans-serif;
    background: grey;
    padding: 10px 50px;
}

form {
    background: lightgray;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 15px;
}

.text-canvas {
    border: 1px solid green;
}

dynamic-table {
    margin: 20px auto;
    display: block;
    max-width: 800px;
}

.dropdown-content-wrap .dropdown-box-content ul {
    max-height: 200px;
    overflow: auto;
}

a.dropdown-box-toggle-link {
    color: inherit;
    text-decoration: none;
}

.ngx-dynamic-form-group, .ngx-dynamic-form-field {
    display: flex;
    margin-bottom: 10px;

    > label {
        width: 200px;

        .form-field-required {
            color: red;
        }
    }

    > div {
        flex: 1;
    }
}
