<dropdown-box componentClass="sort-dropdown" #sortDd>
    <ng-container toggle-content>
        {{ schema() }}
    </ng-container>
    <ul>
        @for (s of schemas(); track s) {
            <li [ngClass]="{active: s === schema()}" (click)="schema.set(s)">
                {{ s }}
            </li>
        }
    </ul>
</dropdown-box>
<dynamic-form [fields]="fields.value()" [group]="group()" #form>
    <button [async-submit]="submit" [form]="form" class="btn btn-primary submit-button">Submit</button>
</dynamic-form>
