<ng-template #labelTemplate let-form="form" let-control="control" let-data="control.data">
    <label [ngClass]="'control-label control-label-' + data.labelAlign" [attr.for]="form.id + '-' + control.id" *ngIf="data.label">
        {{ data.label !== ' ' ? (form.prefix + data.label | translate) : '' }}
    </label>
</ng-template>
<ng-template #errorTemplate let-handler="handler">
    <div class="error-message" *ngIf="handler.hasErrors">
        <span *ngFor="let error of handler.errors" class="help-block">{{ error | translate }}</span>
    </div>
</ng-template>
<ng-template #inputTemplate let-handler="handler">
    <ng-container [form-control]="handler"></ng-container>
</ng-template>
<ng-template #controlTemplate
             let-context
             let-data="control.data"
             let-labelTemplate="labelTemplate"
             let-inputTemplate="inputTemplate"
             let-prefixTemplate="prefixTemplate"
             let-suffixTemplate="suffixTemplate"
             let-errorTemplate="errorTemplate">
    <ng-container [ngTemplateOutlet]="prefixTemplate"
                  [ngTemplateOutletContext]="context"></ng-container>
    <ng-container *ngIf="data.labelAlign == 'left'"
                  [ngTemplateOutlet]="labelTemplate"
                  [ngTemplateOutletContext]="context">
    </ng-container>
    <ng-container [ngTemplateOutlet]="inputTemplate"
                  [ngTemplateOutletContext]="context"></ng-container>
    <ng-container *ngIf="data.labelAlign !== 'left'"
                  [ngTemplateOutlet]="labelTemplate"
                  [ngTemplateOutletContext]="context">
    </ng-container>
    <ng-container [ngTemplateOutlet]="suffixTemplate"
                  [ngTemplateOutletContext]="context"></ng-container>
    <ng-container [ngTemplateOutlet]="errorTemplate"
                  [ngTemplateOutletContext]="context"></ng-container>
</ng-template>
<ng-container *ngIf="!form.isLoading && isVisible"
              [ngTemplateOutlet]="form.controlTemplates[control.id] || form.controlTemplate || controlTemplate"
              [ngTemplateOutletContext]="{
                control: control,
                form: form,
                handler: this,
                $implicit: this,
                labelTemplate: form.labelTemplates[control.id] || labelTemplate,
                inputTemplate: form.inputTemplates[control.id] || inputTemplate,
                prefixTemplate: form.prefixTemplates[control.id],
                suffixTemplate: form.suffixTemplates[control.id],
                errorTemplate: errorTemplate
              }">
</ng-container>
