<ng-template #defaultFieldSetTemplate let-id="id" let-controls="controls" let-fieldSet="fieldSet">
    <div [ngClass]="['form-fields', 'form-fields-' + id, fieldSet.classes]">
        <div *ngIf="fieldSet.title" [ngClass]="['form-title', fieldSet.titleClasses || '']">
            {{ group.prefix + fieldSet.title | translate }}
        </div>
        <ng-template #subControls>
            <ng-container *ngFor="let control of controls" [form-group]="control" [form]="this">

            </ng-container>
        </ng-template>
        <ng-container [ngxTemplateOutlet]="setPrefixTemplates[fieldSet.id]" [context]="fieldSet"></ng-container>
        <div *ngIf="fieldSet.setClasses; else subControls" [ngClass]="fieldSet.setClasses">
            <div *ngIf="fieldSet.controlClasses; else subControls" [ngClass]="fieldSet.controlClasses">
                <ng-container [ngTemplateOutlet]="subControls"></ng-container>
            </div>
        </div>
        <ng-container [ngxTemplateOutlet]="setSuffixTemplates[fieldSet.id]" [context]="fieldSet"></ng-container>
    </div>
</ng-template>

<ng-template #fieldSetsTemplate>
    <ng-container *ngFor="let fs of formControls | groupBy:'data.fieldSet'"
                  [ngxTemplateOutlet]="fieldSetTemplate || defaultFieldSetTemplate"
                  [context]="{form: this, id: fs.group, controls: fs.items, fieldSet: group.formFields[fs.group] || defaultFieldSet}">
    </ng-container>
</ng-template>
<ng-template #defaultWrapperTemplate let-form="form" let-fieldSetsTemplate="fieldSetsTemplate">
    <ng-container [ngTemplateOutlet]="prefixTemplate"
                  [ngTemplateOutletContext]="{form: form, fieldSetsTemplate: fieldSetsTemplate}"></ng-container>
    <form class="dynamic-form" [ngClass]="form.classes || ''" [formGroup]="group" (submit)="onFormSubmit()">
        <ng-container [ngTemplateOutlet]="fieldSetsTemplate"></ng-container>
        <ng-content></ng-content>
        <div *ngIf="form.status == 'PENDING'" class="dynamic-form-validator">
            {{ group.prefix + 'message.pending' | translate }}
        </div>
        <button [ngStyle]="{display: 'none'}">Submit</button>
    </form>
    <ng-container [ngTemplateOutlet]="suffixTemplate"
                  [ngTemplateOutletContext]="{form: form, fieldSetsTemplate: fieldSetsTemplate}"></ng-container>
</ng-template>
<ng-template #loadingTemplate>
    <div *ngIf="status == 'LOADING'" class="dynamic-form-loader">
        {{ group.prefix + 'message.loading' | translate }}
    </div>
</ng-template>
<ng-container [ngTemplateOutlet]="wrapperTemplate || defaultWrapperTemplate"
              [ngTemplateOutletContext]="{form: this, fieldSetsTemplate: fieldSetsTemplate}"
              *ngIf="status !== 'LOADING'; else loadingTemplate">
</ng-container>
