<ng-template #labelTemplate let-control="control" let-form="control.form" let-data="control.data">
    <label [ngClass]="'control-label control-label-' + data.labelAlign" [attr.for]="control.formId">
        {{ control.label | translate: control.parent }}
    </label>
</ng-template>
<ng-template #errorTemplate let-control="control">
    <div class="error-message" *ngIf="control.errors && control.touched">
        <span class="help-block" *ngFor="let error of control.errors | entries">
            {{ error.key | translate: error.value }}
        </span>
    </div>
</ng-template>
<ng-template #inputTemplate let-control="control">
    <ng-container [form-control]="control"></ng-container>
</ng-template>
<ng-template #defaultControlTemplate
             let-context
             let-control="control"
             let-data="control.data"
             let-labelTemplate="labelTemplate"
             let-inputTemplate="inputTemplate"
             let-prefixTemplate="prefixTemplate"
             let-suffixTemplate="suffixTemplate"
             let-errorTemplate="errorTemplate">
    <ng-container [ngTemplateOutlet]="prefixTemplate"
                  [ngTemplateOutletContext]="context"></ng-container>
    <ng-container *ngIf="control.label && data.labelAlign == 'left'"
                  [ngTemplateOutlet]="labelTemplate"
                  [ngTemplateOutletContext]="context">
    </ng-container>
    <ng-container [ngTemplateOutlet]="inputTemplate"
                  [ngTemplateOutletContext]="context"></ng-container>
    <ng-container *ngIf="control.label && data.labelAlign == 'right'"
                  [ngTemplateOutlet]="labelTemplate"
                  [ngTemplateOutletContext]="context">
    </ng-container>
    <ng-container [ngTemplateOutlet]="suffixTemplate"
                  [ngTemplateOutletContext]="context"></ng-container>
    <ng-container [ngTemplateOutlet]="errorTemplate"
                  [ngTemplateOutletContext]="context"></ng-container>
</ng-template>

<ng-template #defaultFieldSetTemplate let-id="id" let-controls="controls" let-fieldSet="fieldSet">
    <div [ngClass]="['form-fields', 'form-fields-' + id, fieldSet.classes]">
        <div *ngIf="fieldSet.title" [ngClass]="['form-title', fieldSet.titleClasses || '']">
            {{ group.prefix + fieldSet.title | translate }}
        </div>
        <ng-template #subControls>
            <ng-container *ngFor="let control of controls">
                <div [ngClass]="['form-group', 'form-group-' + control.id, control.data.classes, control.errors && control.touched ? 'form-group-invalid' : '']" *ngIf="control.visible">
                    <ng-container [ngxTemplateOutlet]="controlTemplates[control.id] || controlTemplate || defaultControlTemplate"
                                  [context]="{
                                    control: control,
                                    labelTemplate: labelTemplates[control.id] || labelTemplate,
                                    inputTemplate: inputTemplates[control.id] || inputTemplate,
                                    prefixTemplate: prefixTemplates[control.id],
                                    suffixTemplate: suffixTemplates[control.id],
                                    errorTemplate: errorTemplate
                                  }">
                    </ng-container>
                </div>
            </ng-container>
        </ng-template>
        <ng-container [ngxTemplateOutlet]="setPrefixTemplates[fieldSet.id]" [context]="fieldSet"></ng-container>
        <div *ngIf="fieldSet.setClasses; else subControls" [ngClass]="fieldSet.setClasses">
            <div *ngIf="fieldSet.controlClasses; else subControls" [ngClass]="fieldSet.controlClasses">
                <ng-container [ngTemplateOutlet]="subControls"></ng-container>
            </div>
        </div>
        <ng-container [ngxTemplateOutlet]="setSuffixTemplates[fieldSet.id]" [context]="fieldSet"></ng-container>
    </div>
</ng-template>

<ng-template #fieldSetsTemplate>
    <ng-container *ngFor="let fs of formControls | groupBy:'data.fieldSet'"
                  [ngxTemplateOutlet]="fieldSetTemplate || defaultFieldSetTemplate"
                  [context]="{form: this, id: fs.group, controls: fs.items, fieldSet: group.formFields[fs.group] || defaultFieldSet}">
    </ng-container>
</ng-template>
<ng-template #defaultWrapperTemplate let-form="form" let-fieldSetsTemplate="fieldSetsTemplate">
    <ng-container [ngTemplateOutlet]="prefixTemplate"
                  [ngTemplateOutletContext]="{form: form, fieldSetsTemplate: fieldSetsTemplate}"></ng-container>
    <form class="dynamic-form" [ngClass]="form.classes || ''" [formGroup]="group" (submit)="onFormSubmit()">
        <ng-container [ngTemplateOutlet]="fieldSetsTemplate"></ng-container>
        <ng-content></ng-content>
        <div *ngIf="form.status == 'PENDING'" class="dynamic-form-validator">
            {{ group.prefix + 'message.pending' | translate }}
        </div>
        <button [ngStyle]="{display: 'none'}">Submit</button>
    </form>
    <ng-container [ngTemplateOutlet]="suffixTemplate"
                  [ngTemplateOutletContext]="{form: form, fieldSetsTemplate: fieldSetsTemplate}"></ng-container>
</ng-template>
<ng-template #loadingTemplate>
    <div *ngIf="status == 'LOADING'" class="dynamic-form-loader">
        {{ group.prefix + 'message.loading' | translate }}
    </div>
</ng-template>
<ng-container [ngTemplateOutlet]="wrapperTemplate || defaultWrapperTemplate"
              [ngTemplateOutletContext]="{form: this, fieldSetsTemplate: fieldSetsTemplate}"
              *ngIf="status !== 'LOADING'; else loadingTemplate">
</ng-container>
